@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
:root{
    font-family: 'Crimson Text', sans-serif;
}
body {
    max-width: 980px;
    margin: auto;
}
header nav {
    display: flex;
    flex:1;
    margin: 0 15px;
}
header nav a {
    margin-right: 3%;
    text-decoration: none;
    color: black;
}
header nav a:hover {
    text-decoration: underline;
}
header .banner {
    height: 500px;
}
.banner img {
        height: 500px;
        width: 980px;
        background-position: center;
        background-size: cover;
}
.name {
    position: relative;
    top: -450px;
    left: 40px;
}
.phone {
    position: relative;
    top: -200px;
    left: 700px;
}
.quote {
  grid-area: sidebar;
}

.my_photo {
  grid-area: content;
  position: relative;
}

.text {
  grid-area: header;
}

.my_text {
  grid-area: footer;
}

.wrapper {
		display: grid;
        grid-gap: 10px;
		grid-template-columns: 365px 300px 300px;
		grid-template-areas:
        "header  header  header"
		"sidebar content content"
		"footer  footer  footer";
		background-color: #e91e6300;
		color: #240909;
	}
    
