@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
:root{
    font-family: 'Crimson Text', sans-serif;
}
body {
    max-width: 980px;
    margin: auto;
}

header nav {
    display: flex;
    flex:1;
    margin: 0 15px;
}
header nav a {
    margin-right: 3%;
    text-decoration: none;
    color: black;
}
header nav a:hover {
    text-decoration: underline;
}
.banner img {
        height: 500px;
        width: 980px;
        background-position: center;
        background-size: cover;
}

.name {
    position: relative;
    top: -450px;
    left: 40px;
}
.phone {
    position: relative;
    top: -200px;
    left: 700px;
}



    
