@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
:root{
    font-family: 'Crimson Text', serif;
}
body {
    max-width: 980px;
    margin: auto;
}

header nav{
    display: flex;
    flex:1;
    margin: 0 15px;
}
header nav a{
    margin-right: 3%;
    text-decoration: none;
    color: black;
}
header nav a:hover {
    text-decoration: underline;
}
.banner img {
        height: 500px;
        width: 980px;
        background-position: center;
        background-size: cover;
}
.banner div {
    align-items: center;
    justify-content: center;
    max-width: 340px;
}
.banner div h1 {
    background-color: white;
    padding: 1px 5px;
    box-shadow: 1px 10px 10px 1px;
    display: flex;
    flex-wrap: wrap;
}



    
